.content-wrapper {
  display: flex;
  flex-grow: 1;
}

.left-half {
  flex: 1;
  background-color: #c8c8c8;
  height: 100%;
  width: 50%;
}

.right-half {
  flex: 1;
  background-color: #b4b4b4;
  height: 100%;
  width: 50%;
}
