.content-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;

  .left-half,
  .right-half {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }

  .left-half {
    background-color: #c8c8c8;
  }

  .right-half {
    background-color: #b4b4b4;
  }
}

.start-tournament-btn {
  flex-direction: column;
}

.contestant-btn {
  background: none; // Remove the default background
  border: none; // Remove the default border
  padding: 0; // Remove padding
  cursor: pointer;
  outline: none; // Optionally remove the focus outline

  &:disabled {
    cursor: not-allowed; // Change cursor on disabled state

    .image {
      opacity: 0.6; // Decrease opacity for disabled state
      filter: grayscale(100%); // Turn image to grayscale on disabled
    }
  }

  &:hover {
    .image {
      transform: scale(1.1); // Enlarge image on hover
    }
  }
}

.cuteness-leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none; // Removes the default bullet points of the list
  padding: 0; // Removes the default padding of the list
  height: auto;

  > li {
    // Direct child list items
    height: 10%;
    margin: 10px 0; // Adds some vertical spacing between the groups

    .equally-cute {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      list-style-type: none; // Removes the default bullet points of the inner list
      padding: 0; // Removes the default padding of the inner list

      > li {
        // Direct child list items of the inner list
        margin: 0 10px; // Adds some horizontal spacing between the images
      }
    }
  }
}
