// Small screens
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 6rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

// Large screens
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6rem;
    height: 100vh;
    &:not(.disable-hover):hover {
      .logo {
        svg {
          transform: rotate(-180deg);
        }
      }
      width: 16rem;
      .link-text {
        display: block;
      }
    }
  }
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 400ms ease;
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
  &:last-child {
    margin-top: auto;
  }
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 5rem;
  color: var(--text-light);
  text-decoration: none;
  transition: var(--transition-speed);
  &:hover {
    background: var(--text-light);
    color: var(--text-dark);
  }
}
.link-text {
  display: none;
  margin: 1rem;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-light);
  background: var(--bg-primary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
  }
}
