$font-family_1: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-family_2: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;

:root {
  font-size: 16px;
  font-family: $font-family_1;
  --text-dark: black;
  --text-light: white;
  --bg-primary: #282c34;
  --bg-cats: #c8c8c8;
  --bg-dogs: #b4b4b4;
  --transition-speed: 600ms;
}
body {
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background: #dedede;
  }
}
code {
  font-family: $font-family_2;
}
main {
  margin-left: 6rem;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.App.light {
  transition: var(--transition-speed);
  background-color: white;
}
.App.dark {
  transition: var(--transition-speed);
  background-color: var(--bg-primary);
}
.App-header {
  background-color: var(--bg-primary);
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-light);
  display: flex;

  h1 {
    font-size: calc(3vh + 2vmin); // Adjust this value as needed
  }
}
.Home {
  font-size: 2rem;

  ul {
    list-style-type: none; // Remove default bullet points
    margin: 0;
    padding: 0;
    display: flex; // Make children appear in a row
    justify-content: space-between; // Optional: Spaces items evenly
    margin-top: 5rem;
    li {
      width: 33.33%;
      display: flex;
      justify-content: center; // Center horizontally
      align-items: center; // Center vertically
      flex-direction: column; // Stack icon and text vertically
      text-align: center; // Center the text
      padding: 5rem;
      border-radius: 5rem;
      transition: var(--transition-speed);
      &:hover {
        background: var(--text-light);
        border-radius: 5rem;
        // Explicitly define hover styles for child elements (like FontAwesome icons)
        a,
        svg,
        div {
          color: var(--bg-primary);
          transition: var(--transition-speed);
        }
      }

      a {
        text-decoration: none; // Optional: remove underline from link
        width: 100%;
        height: 100%;
        color: var(--text-light);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: var(--transition-speed);
      }
    }
  }
}
.Home.light {
  li {
    background: var(--text-light);

    a,
    svg,
    div {
      color: var(--bg-primary);
    }

    &:hover {
      background: var(--bg-primary);

      a,
      svg,
      div {
        color: var(--text-light);
      }
    }
  }
}
.tournament-page {
  background-color: var(--bg-primary);
  color: var(--text-light);
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  overflow-y: auto;
}
